<div class="social-links">
  <a
    href="https://www.linkedin.com/in/marco-palummieri-643a6a24a/"
    target="_blank"
    rel="noopener noreferrer"
    class="social-icon-container"
  >
    <img src="./assets/icons/Linledin.png" alt="linkedin" class="social-icon" />
  </a>
  <a
    href="https://github.com/mapalummi"
    target="_blank"
    rel="noopener noreferrer"
    class="social-icon-container"
  >
    <img src="./assets/icons/Git hub.png" alt="github" class="social-icon" />
  </a>

  <a href="mailto:mapalummi@outlook.de" class="social-icon-container">
    <img src="./assets/icons/Mail.png" alt="email" class="social-icon" />
  </a>
</div>
