<div class="social-links">
  <a href="#" target="_blank" rel="noopener noreferrer" class="social-icon-container">
    <img src="./assets/icons/Linledin.png" alt="linkedin" class="social-icon" />
  </a>

  <a href="#" target="_blank" rel="noopener noreferrer"  class="social-icon-container">
    <img src="./assets/icons/Git hub.png" alt="github" class="social-icon"/>
  </a>

  <a href="#" target="_blank" rel="noopener noreferrer"  class="social-icon-container">
    <img src="./assets/icons/Mail.png" alt="email" class="social-icon"/>
  </a>
  
</div>
