@import "./../../../../styles.scss";

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  div {
    width: 44px;
    height: 44px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #1073ea;
    }
  }
  img {
    width: 35px;
    height: 35px;
    object-fit: contain;
  }
}
