@import "./../../../../styles.scss";

.social-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.social-icon-container {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 50%;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icon-container:hover {
  background-color: #007bff;
}

.social-icon {
  width: 32px;
  height: 32px;
  display: block;
}

@media (max-width: 536px) {
  .social-links {
    flex-direction: row;
    gap: 32px;
  }
}
