<div class="header-container">
  <nav>
    <img src="./../../assets/img/LogoMpNeu3.png" alt="" />
    <!-- <img src="./../../assets/img/LogoMpNeu4.png" alt="" /> -->
     <!-- <img src="./../../assets/img/logoMpNeu2.svg" alt="" /> -->
    <a href="#about-section" class="nav-about"
      ><img src="assets/icons/1.png" alt="" /><span>About me</span></a
    >
    <a href="#my-stack-section" class="nav-skills"
      ><img src="assets/icons/2.png" alt="" /><span>Skills</span></a
    >
    <a href="#my-craft-section" class="nav-projects"
      ><img src="assets/icons/4.png" alt="" /><span>Projects</span></a
    >
    <a href="#contact-section" class="nav-contact"
      ><img src="assets/icons/3.png" alt="" /><span>Contact</span></a
    >
    <div class="toggle">
      <span [class.active]="!isEnglish" (click)="setGerman('en')"><img src="./../../assets/icons/Toggle.png" alt="">EN</span>
      <label class="toggle-switch">
        <input type="checkbox" [checked]="isEnglish">
        <span class="slider"></span>
      </label>
      <span [class.active]="isEnglish" (click)="setEnglish('de')"><img src="./../../assets/icons/Toggle.png" alt="">DE</span>
    </div>
  </nav>
</div>

