<footer>
  <div class="logo-container">
    <img src="./assets/img/LogoMpNeu3.png" alt="" />
    <span>© Marco Palummieri 2025</span>
  </div>

  <div class="link-container">
    <a routerLink="imprint" style="cursor: pointer" class="link-underline">
      <img src="./assets/icons/3.png" alt="" />
      <span>{{ "footer.link-one" | translate }}</span>
    </a>

    <a href="#" class="link"
      ><img class="link-item" src="./assets/icons/Git hub.png" alt="" /><span
        class="link-button"
        >GitHub</span
      ></a
    >
    <a href="#" class="link"
      ><img class="link-item" src="./assets/icons/Linledin.png" alt="" /><span
        class="link-button"
        >LinkedIn</span
      ></a
    >
    <a href="#" class="link"
      ><img class="link-item" src="./assets/icons/Mail.png" alt="" /><span
        class="link-button"
        >Email</span
      ></a
    >
  </div>
</footer>
