<footer>
  <div class="logo-container">
    <img src="./../../assets/img/LogoMarcoNeu.png" alt="" />
    <span>©️ Marco Palummieri 2025</span>
  </div>

  <div class="link-container">
    <a href="#" class="link"
      ><span>Legal Notice</span><img class="link-underline" src="./../../assets/icons/3.png" alt=""
    /></a>
    <a href="#" class="link"
      ><img class="link-item" src="./../../assets/icons/Git hub.png" alt="" /><span class="link-button"
        >GitHub</span
      ></a
    >
    <a href="#" class="link"
      ><img class="link-item" src="./../../assets/icons/Linledin.png" alt="" /><span class="link-button"
        >LinkedIn</span
      ></a
    >
    <a href="#" class="link"
      ><img class="link-item" src="./../../assets/icons/Mail.png" alt="" /><span class="link-button">Email</span></a
    >
  </div>
</footer>
