@import "./../../styles.scss";

footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Bricolage Grotesque", sans-serif;
}

.logo-container {
    display: flex;
    flex-direction: column;

  img {
    width: 80px;
    height: auto;
  }
  span{
    color: white;
  }
}

.link-container{
    display: flex;
    

    gap: 16px;

a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    // transition: color 0.3s ease;
    
  }
}