<div class="my-stack-section">
  <div class="headline-container">
    <p class="subtitle">My Stack</p>
    <div class="main-title">
      <h1 class="">Skill set</h1>
      <img src="./../../../assets/icons/skill_set.png" alt="" />
    </div>
  </div>

  <div class="skillset-container">
    <div class="skill-description">
      <img src="./../../../assets/icons/1.Skills_description.png" alt="" />
      <span
        >Ich habe Erfahrung in der Front-End-Entwicklung mit HTML, CSS und
        JavaScript und setze dabei auf responsive Design und moderne
        Webtechnologien wie Angular. Git und GitHub nutze ich sicher für die
        Versionskontrolle. Neue Tools und Technologien lerne ich schnell und mit
        großer Neugier.
      </span>
    </div>

    <div class="skill-icons">
      <div class="skill-item">
        <img src="./../../../assets/icons/HTML.png" alt="" /><span>HTML</span>
      </div>

      <div class="skill-item">
        <img src="./../../../assets/icons/CSS.png" alt="" /><span>CSS</span>
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/JavaScript.png" alt="" /><span
          >JavaScript</span
        >
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/TypeScript.png" alt="" /><span
          >TypeScript</span
        >
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Angular.png" alt="" /><span
          >Angular</span
        >
      </div>
    </div>

    <div class="skill-icons">
      <div class="skill-item">
        <img src="./../../../assets/icons/Firebase.png" alt="" /><span
          >Firebase</span
        >
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Git.png" alt="" /><span>Git</span>
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Rest-Api.png" alt="" /><span
          >Rest-Api</span
        >
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Scrum.png" alt="" /><span>Scrum</span>
      </div>
      <div class="skill-item">
        <img src="./../../../assets/icons/Material_Design.png" alt="" /><span
          >Material Design</span
        >
      </div>
    </div>
  </div>

  <div class="peel-off-container">
    <div class="peel-off" [class.peeled]="isPeeled" (click)="togglePeel()">
      <div class="peel-header">
        <img src="./../../../assets/icons/Arrow.png" alt="" />
        <span>Pull to peel</span>
      </div>

      <div class="peel-content">
        <span>Also, I'm interested in diving into:</span>

        <div class="peel-decorations">
          <img src="./../../../assets/icons/Peel_A.png" alt="" />
          <img src="./../../../assets/icons/Peel_B.png" alt="" />
          <img src="./../../../assets/icons/Peel_C.png" alt="" />
        </div>

        <div class="future-skills">
          
          <div>
            <img src="./../../../assets/icons/React.png" alt="" />
            <span>React</span>
          </div>

          <div>
            <img src="./../../../assets/icons/Vue Js.png" alt="" />
            <span>Vue Js</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
