.hello-button {
  position: relative;
  overflow: visible;
  width: 150px;
  height: 40px;
  padding: 12px 24px;
  border: 1px solid var(--text-color-light);
  background: transparent;
  color: var(--text-color-light);
  border-radius: 24px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: width var(--transition-slow);

  img {
    position: absolute;
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
    top: -50px;
    left: 50%;
    filter: invert(100%);
    transform: translateX(-50%) translateX(-60px);
    opacity: 0;
    transition: opacity 0.5s ease, transform 1s ease;
  }

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity var(--transition-normal);
    white-space: nowrap;
  }

  .text-default {
    opacity: 1;
  }

  .text-hover {
    opacity: 0;
  }

  &:hover {
    width: 250px;
    background-color: var(--secondary-color);
    text-transform: uppercase;

    .text-default {
      opacity: 0;
    }

    .text-hover {
      opacity: 1;
    }

    img {
      opacity: 1;
      transform: translateX(-50%) translateX(100px) rotate(20deg) scale(1.5); // Animation nach oben, vergrößert..
    }
  }

  @media (max-width: 1029px) {
    align-self: flex-start;
  }

  @media (max-width: 767px) {
    padding: 10px 18px;
    img {
      top: -40px;
    }

    &:hover {
      width: 230px;
    }
  }

  @media (max-width: 499px) {
    width: 120px;
    height: 40px;
    padding: 6px 12px;

    img {
      left: 45%;
      width: calc(var(--icon-size-xs) * 1.5);
      height: calc(var(--icon-size-xs) * 1.5);
    }
  }
}

.hello-button {
  order: 1;
  margin-bottom: var(--spacing-sm);
}

.getintouch-button {
  width: 170px;
  height: 40px;
  padding: 12px 24px;
  border: 1px solid var(--text-color-light);
  box-shadow: 3px 4px 0px var(--text-color-light);
  background: transparent;
  color: var(--text-color-light);
  border-radius: 24px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  cursor: pointer;
  @include flex-center;
  transition: box-shadow var(--transition-fast),
    transform var(--transition-fast);

  &:hover {
    box-shadow: 0.5px 0.5px 0px var(--text-color-light);
    transform: translate(2.5px, 3.5px);
    background-color: var(--primary-color);
  }

  @media (max-width: 1600px) {
    margin-left: 6rem;
    max-width: 100%;
  }

  @media (max-width: 1029px) {
    align-self: flex-end;
    margin-top: var(--spacing-sm);
  }

  @media (max-width: 536px) {
    align-self: flex-end;
    margin-right: 0;
  }

  @media (max-width: 499px) {
    width: 170px;
    height: 40px;
    padding: 6px 12px;
    box-shadow: 1.5px 2px 0px var(--text-color-light);
    margin-top: 0;

    &:hover {
      transform: translate(1.5px, 2px);
    }
  }
}

.getintouch-button {
  order: 2;
  margin-top: var(--spacing-sm);
}
