<section class="hero-section">
  <app-navbar></app-navbar>
  <div class="hero-content">
    <div class="left-section">
      <Button class="hello-button">
        <span class="text-default">Hello World</span>
        <span class="text-hover">I'M MARCO PALUMMIERI</span>
      </Button>

      <h1 class="bouncing-letters" style="letter-spacing: 0.3px">
        <span>F</span>
        <span>r</span>
        <span>o</span>
        <span>n</span>
        <span>t</span>
        <span>e</span>
        <span>n</span>
        <span>d</span>
      </h1>

      <div class="polaroid-container">
        <img src="./../../../assets/img/MyPolaroid.png" alt="Marco Palummieri" />
      </div>
    </div>
    <div class="right-section">
      <h1 class="bouncing-letters" style="letter-spacing: 0.3px">
        <span>D</span>
        <span>E</span>
        <span>V</span>
        <span>E</span>
        <span>L</span>
        <span>O</span>
        <span>P</span>
        <span>E</span>
        <span>R</span>
      </h1>
      <button class="getintouch-button">Get in Touch</button>
    </div>
  </div>
</section>
