<section id="hero-section">
  <div class="page-container">
    <app-header *ngIf="!isMobileMenuOpen"></app-header>

    <div class="hero-mobile-header">
      <a href="#hero-section" class="nav-logo"
        ><img src="./assets/img/LogoMpNeu3.png" alt="Logo von MP"
      /></a>

      <div class="mobile-menu-icon">
        <img
          src="./../../../assets/icons/menu_default.png"
          alt="Mobile menu toggle button"
          (click)="toggleMobileMenu()"
        />
      </div>
    </div>

    <!-- NEU -->
    <div
      class="mobile-menu-dialog"
      [class.mobile-menu-open]="isMobileMenuOpen"
    >
      <app-header (closeMenu)="isMobileMenuOpen = false"></app-header>
    </div>
    <!-- NEU -->

    <div class="hero-content">
      <app-socialbar class="socialbar-left"></app-socialbar>

      <!-- Neuer übergeordneter Container für beide Text-Sektionen -->
      <div class="text-container">
        <div class="text-line text-line-one">
          <Button class="hello-button">
            <img src="./assets/icons/hallo.png" alt="Hello greeting icon" />
            <span class="text-default">{{
              "hero-section.button-one" | translate
            }}</span>
            <span class="text-hover">{{
              "hero-section.button-one-hover" | translate
            }}</span>
          </Button>

          <h1 class="bouncing-letters" style="letter-spacing: 0.3px">
            <span>F</span>
            <span>r</span>
            <span>o</span>
            <span>n</span>
            <span>t</span>
            <span>e</span>
            <span>n</span>
            <span>d</span>
          </h1>
        </div>

        <div class="text-line text-line-two">
          <h1 class="bouncing-letters" style="letter-spacing: 0.3px">
            <span>D</span>
            <span>E</span>
            <span>V</span>
            <span>E</span>
            <span>L</span>
            <span>O</span>
            <span>P</span>
            <span>E</span>
            <span>R</span>
          </h1>

          <button
            class="getintouch-button"
            (click)="scrollToSection('contact-section')"
          >
            {{ "hero-section.button-two" | translate }}
          </button>
        </div>
      </div>

      <div class="polaroid-container">
        <img
          src="./assets/img/MyPolaroid.png"
          alt="Profile photo of Marco Palummieri in polaroid style"
        />
        <span class="polaroid-text"></span>
      </div>
    </div>
  </div>
</section>
