<main>
  <section>
    <!-- Chat Widget Button -->
    <!-- <button id="chat-widget-button" 
    (click)="toggleChat()" 
    *ngIf="!isChatOpen">
      💬
    </button> -->

    <button
      id="chat-widget-button"
      [class.visible]="showButton || isChatOpen"
      (click)="toggleChat()"
      *ngIf="!isChatOpen"
    >
      💬
    </button>

    <!-- Chat Widget Container -->
    <div
      id="chat-widget-container"
      [style.display]="isChatOpen ? 'flex' : 'none'"
    >
      <div id="chat-widget-header">
        <span>Chat 💬</span>
        <button id="chat-widget-close" (click)="toggleChat()">✖</button>
      </div>
      <div id="chat-widget-body" #chatBody>
        <!-- Neu -->
        <!-- <div class="chat-message bot-message">
          <img src="./assets/icons/bot-100.png" alt="Bot" class="avatar" />
          <div class="bubble">{{ "chatbot.greeting" | translate }}</div>
        </div> -->
        <!-- Alt -->
        <!-- <p *ngIf="messages.length === 0">
          {{ "chatbot.greeting" | translate }}
        </p> -->

        <div
          *ngFor="let msg of messages"
          [ngClass]="['chat-message', msg.type + '-message']"
        >
          <img
            *ngIf="msg.type === 'bot'"
            src="./assets/icons/bot-100.png"
            class="avatar"
            alt="Bot"
          />
          <div class="bubble">
            <div *ngIf="msg.htmlContent" [innerHTML]="msg.htmlContent"></div>
            <div *ngIf="!msg.htmlContent">{{ msg.text }}</div>
          </div>
          <img
            *ngIf="msg.type === 'user'"
            src="./assets/icons/kopf-100.png"
            class="avatar"
            alt="User"
          />
        </div>

        <div *ngIf="isTyping" class="chat-message bot-message">
          <img src="./assets/icons/bot-100.png" class="avatar" alt="Bot" />
          <div class="bubble typing">
            <span></span><span></span><span></span>
          </div>
        </div>
      </div>

      <div>
        <!-- Info-field -->
        <div class="chat-footer-info">
          <p>
            {{ "chatbot.privacyhint" | translate }}
          </p>
        </div>
        <!-- Info-field -->

        <div id="chat-widget-footer">
          <input
            type="text"
            id="chat-widget-input"
            [(ngModel)]="userInput"
            (keydown.enter)="sendMessage()"
            [disabled]="isTyping"
            autocomplete="off"
            placeholder="Tippe deine Nachricht hier ein..."
          />
          <button
            id="chat-widget-send"
            (click)="sendMessage()"
            [disabled]="isTyping || !userInput.trim()"
          >
            Senden
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
