.back-button {
  position: relative;
  z-index: 50;
  pointer-events: auto;

  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  gap: 12px;
  cursor: pointer;
  margin-left: -50px;

  @media (max-width: 1460px) {
    margin-left: 0;
  }

  @media (max-width: 800px) {
    margin-left: -40px;
  }

  @media (max-width: 768px) {
    margin-left: -20px;
  }

  @media (max-width: 536px) {
    font-size: 15px;
    font-weight: lighter;
    margin-left: 0;
  }

  img {
    width: 30px;

    @media (max-width: 536px) {
      width: 24px;
    }
  }

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: #1073ea;
    }
  }
}

.project-buttons {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-top: 32px;
  gap: 30px;

  @media (max-width: 800px) {
    margin-bottom: 28px;
  }
}

.right-section-button {
  width: clamp(110px, 15vw, 140px);
  height: clamp(30px, 5vw, 40px);
  @include flex-center;
  padding: 12px 24px;
  border: 1px solid white;
  box-shadow: 0px 5px 0px rgb(255, 255, 255);
  background: transparent;
  color: white;
  border-radius: 24px;
  font-size: clamp(14px, 2vw, 18px);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:hover {
    box-shadow: none;
    transform: translateY(5px);
    background-color: #1073ea;
  }
}

// Für den Fall, dass Buttons gesperrt werden müssen:
// .right-section-button.disabled {
//   pointer-events: none;
//   opacity: 0.3;
// }

.next-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  gap: 12px;
  cursor: pointer;
  margin-right: -50px;

  @media (max-width: 1460px) {
    margin-right: 0;
  }

  @media (max-width: 800px) {
    margin-right: -40px;
  }

  @media (max-width: 768px) {
    margin-right: -20px;
  }

  @media (max-width: 536px) {
    font-size: 16px;
    font-weight: lighter;
    margin-right: 0;
    margin-bottom: 24px;
  }

  img {
    width: 30px;

    @media (max-width: 536px) {
      width: 24px;
    }
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: #24dd80;
    }
  }
}
