@import "./../../../styles.scss";

#testimonial-section {
  font-family: "Bricolage Grotesque", sans-serif;
}

#testimonial-section .page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  min-height: 850px;
}

.headline-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  font-family: "Bricolage Grotesque", sans-serif;

  span {
    font-size: 1.3rem;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
  }

  img {
    width: 100px;
    animation: pulseArrow 4s ease infinite 2s;
  }

  h1 {
    font-size: 4rem;
  }

  @media (max-width: 1350px) {
    span {
      font-size: 1rem;
    }
    img {
      width: 80px;
    }
    h1 {
      font-size: 2.5rem;
    }
  }
}

@keyframes pulseArrow {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  15% {
    // Schnell einblenden
    clip-path: inset(0% 0 0 0);
  }
  85% {
    // lange sichtbar bleiben
    clip-path: inset(0% 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 100%);
  }
}

.text-and-arrow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.testimonial-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; // Wichtig für unterschiedliche Transforms!
}

.card-left {
  z-index: 3;
  transform: translateY(0) rotate(-2deg) translateX(100px);
}

.card-center {
  z-index: 2;
  transform: translateY(50px);
}

.card-right {
  z-index: 1;
  transform: translateY(0) rotate(4deg) translateX(-100px);
}

.testimonial-card {
  position: relative; // Container für absolute Positionierung
  cursor: pointer;
  transition: transform 0.3s ease-in-out, z-index 0s;

  &:hover {
    z-index: 999;

    .line-image {
      opacity: 1;
    }

    .author-name,
    .author-title {
      color: white;
    }
  }
}

.card-image {
  width: 500px;
  height: auto;
  z-index: 0;
  display: block;

  @media (max-width: 1350px) {
    width: 390px;
  }
}

.line-image {
  width: 500px;
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;

  @media (max-width: 1350px) {
    width: 390px;
  }
}

.card-content {
  width: 100%;
  min-height: 350px;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;

  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 17px;
  text-wrap: balance;

  @media (max-width: 1350px) {
    min-height: 250px;
    padding: 20px;
    font-size: 0.9rem;
    justify-content: space-between;
  }
}

.testimonial-text {
  text-align: center;
  line-height: 1.4;
  margin-bottom: 16px;

  @media (max-width: 1350px) {
      margin-bottom: 8px;
    }
}

.bottom-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;

   @media (max-width: 1350px) {
      margin-top: 30px;
    }
}

.author-info {
  .author-name,
  .author-title {
    transition: color 0.5s ease-in-out; // Sanfte Farbanimation
  }

  .author-name {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;

    @media (max-width: 1350px) {
      font-size: 0.9rem;
    }
  }

  .author-title {
    display: block;
    font-size: 0.9em;
    opacity: 0.8;
  }
}

.social-icon {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  text-decoration: none;
  color: black;

  img {
    width: 36px;
  }

  &:hover {
    filter: invert(100%);
  }

  @media (max-width: 1350px) {
    font-size: 0.9rem;

    img {
      width: 24px;
    }
  }
}
