<div class="testimonial-section">
  <div class="headline-container">
    <div class="text-and-arrow">
      <img src="./../../../assets/icons/Arrow2.png" alt="" />
      <span>In their words:</span>
    </div>
    <h1>Colleagues' Thoughts</h1>
  </div>

  <div class="testimonial-cards">
    <div class="testimonial-card">
      <img class="card-image" src="./../../../assets/img/card1.png" alt="" />
      <img class="line-image" src="./../../../assets/img/card_line.png" alt="">
      <div class="card-content">
        <span>Test</span>
      </div>
    </div>

    <div class="testimonial-card">
      <img class="card-image" src="./../../../assets/img/card2.png" alt="" />
      <img class="line-image" src="./../../../assets/img/card_line.png" alt="">
      <div class="card-content">
        <span>Test</span>
      </div>
    </div>

    <div class="testimonial-card">
      <img class="card-image" src="./../../../assets/img/card1.png" alt="" />
      <img class="line-image" src="./../../../assets/img/card_line.png" alt="">
      <div class="card-content">
        <span>Test</span>
      </div>
    </div>
  </div>
</div>
