<div class="testimonial-section">
  <div class="headline-container">
    <div class="text-and-arrow">
      <img src="./../../../assets/icons/Arrow2.png" alt="" />
      <span>In their words:</span>
    </div>
    <h1>Colleagues' Thoughts</h1>
  </div>

  <div class="testimonial-cards">
    <div class="testimonial-card card-left">
      <img class="card-image" src="./../../../assets/img/card1.png" alt="" />
      <img
        class="line-image"
        src="./../../../assets/img/card_line.png"
        alt=""
      />
      <div class="card-content">
        <span class="testimonial-text"
          >Marco arbeitet absolut zuverlässig und denkt immer aus Nutzersicht.
          Er bringt kreative Ideen ein und hat ein Auge fürs Detail – eine echte
          Bereicherung fürs Team.</span
        >

        <div class="bottom-row">
          <div class="author-info">
            <span class="author-name">Julia M.</span>
            <span class="author-title">UX Designerin</span>
          </div>
          <span class="social-icon"
            ><img
              src="./../../../assets/icons/Linkedin1.png"
              alt=""
            />Profile</span
          >
        </div>
      </div>
    </div>

    <div class="testimonial-card card-center">
      <img class="card-image" src="./../../../assets/img/card2.png" alt="" />
      <img
        class="line-image"
        src="./../../../assets/img/card_line.png"
        alt=""
      />
      <div class="card-content">
        <span class="testimonial-text"
          >Mit Marco im Team läuft’s rund: strukturiert, pünktlich und immer
          lösungsorientiert. Auch unter Druck bleibt er ruhig und
          professionell.</span
        >

        <div class="bottom-row">
          <div class="author-info">
            <span class="author-name">Tobias L.</span>
            <span class="author-title">Projektmanager</span>
          </div>
          <span class="social-icon"
            ><img
              src="./../../../assets/icons/Linkedin1.png"
              alt=""
            />Profile</span
          >
        </div>
      </div>
    </div>

    <div class="testimonial-card card-right">
      <img class="card-image" src="./../../../assets/img/card1.png" alt="" />
      <img
        class="line-image"
        src="./../../../assets/img/card_line.png"
        alt=""
      />
      <div class="card-content">
        <span class="testimonial-text"
          >Marco brennt für sauberen Code und modernes Design. Er kombiniert
          technisches Können mit einem feinen Gespür für Ästhetik und ist super
          im Austausch.</span
        >

        <div class="bottom-row">
          <div class="author-info">
            <span class="author-name">Lena K.</span>
            <span class="author-title">Frontend Entwicklerin</span>
          </div>
          <span class="social-icon"
            ><img
              src="./../../../assets/icons/Linkedin1.png"
              alt=""
            />Profile</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
