@import "./../../../styles.scss";

.testimonial-section {
  width: 100%;
  max-width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 0 2rem;
  box-sizing: border-box;
}

.headline-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  font-family: "Bricolage Grotesque", sans-serif;

  span {
    font-size: 1.3rem;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
  }

  img {
    width: 100px;
    animation: pulseArrow 4s ease infinite 2s;
  }

  h1 {
    //NOTE: Was ist besser - px oder rem?
    // font-size: 64px;
    font-size: 4rem;
  }
}

@keyframes pulseArrow {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  15% { // Schnell einblenden
    clip-path: inset(0% 0 0 0);
  }
  85% { // lange sichtbar bleiben
    clip-path: inset(0% 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 100%);
  }
}

.text-and-arrow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.testimonial-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.testimonial-card {
  position: relative; // Container für absolute Positionierung
  cursor: pointer;

  &:hover{
    .line-image{
      opacity: 1;
    }
  }
}

.card-image{
  width: 500px;
  z-index: 0;
  display: block; // Sicherstellen, dass es als Block-Element behandelt wird!
}

.line-image{
  width: 500px;
  z-index: 1;
  opacity: 0;
  position: absolute; // Absolute Positionierung
  top: 0;   // An der gleichen vertikalen Position
  left: 0;  // An der gleichen horizontalen Position
}


.card-content {
}
