<section id="testimonial-section">
  <div class="page-container">
    <div class="headline-container">
      <div class="text-and-arrow">
        <img src="./../../../assets/icons/Arrow2.png" alt="" />
        <span>{{ "testimonial-section.headline-one" | translate }}</span>
      </div>
      <h1>{{ "testimonial-section.headline-two" | translate }}</h1>
    </div>

    <div class="testimonial-cards">
      <div class="testimonial-card card-left">
        <img class="card-image" src="./../../../assets/img/card1.png" alt="" />
        <img
          class="line-image"
          src="./../../../assets/img/card_lines.png"
          alt=""
        />
        <div class="card-content">
          <span class="testimonial-text">{{
            "testimonial-section.card-one" | translate
          }}</span>

          <div class="bottom-row">
            <div class="author-info">
              <span class="author-name">Julia M.</span>
              <span class="author-title">{{
                "testimonial-section.title-one" | translate
              }}</span>
            </div>
            <span class="social-icon"
              ><img src="./../../../assets/icons/Linkedin1.png" alt="" />{{
                "testimonial-section.linked" | translate
              }}</span
            >
          </div>
        </div>
      </div>

      <div class="testimonial-card card-center">
        <img class="card-image" src="./../../../assets/img/card2.png" alt="" />
        <img
          class="line-image"
          src="./../../../assets/img/card_lines.png"
          alt=""
        />
        <div class="card-content">
          <span class="testimonial-text">{{
            "testimonial-section.card-two" | translate
          }}</span>

          <div class="bottom-row">
            <div class="author-info">
              <span class="author-name">Tobias L.</span>
              <span class="author-title">{{
                "testimonial-section.title-two" | translate
              }}</span>
            </div>
            <span class="social-icon"
              ><img src="./../../../assets/icons/Linkedin1.png" alt="" />{{
                "testimonial-section.linked" | translate
              }}</span
            >
          </div>
        </div>
      </div>

      <div class="testimonial-card card-right">
        <img class="card-image" src="./../../../assets/img/card1.png" alt="" />
        <img
          class="line-image"
          src="./../../../assets/img/card_lines.png"
          alt=""
        />
        <div class="card-content">
          <span class="testimonial-text">{{
            "testimonial-section.card-three" | translate
          }}</span>

          <div class="bottom-row">
            <div class="author-info">
              <span class="author-name">Lena K.</span>
              <span class="author-title">{{
                "testimonial-section.title-three" | translate
              }}</span>
            </div>
            <span class="social-icon"
              ><img src="./../../../assets/icons/Linkedin1.png" alt="" />{{
                "testimonial-section.linked" | translate
              }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
