<div class="success-dialog">
  <span class="material-icons" style="font-size: 48px; color: #4caf50"
    >check_circle</span
  >
  <h2>Hallo!</h2>
  <p>
    Danke für deine Nachricht und dein Interesse an meiner Arbeit. <br> Ich freue
    mich sehr darüber und werde mich in Kürze persönlich bei dir melden.
    <br /><br />
    Falls es um ein konkretes Projekt geht, gib mir gern schon ein paar Details
    – das beschleunigt alles ein wenig <br /><br />
    Viele Grüße <br> Marco
  </p>
  <button mat-raised-button color="primary" (click)="close()">Schließen</button>
</div>
