<div class="success-dialog">
  <span class="material-icons" style="font-size: 48px; color: #4caf50"
    >check_circle</span
  >
  <h2>{{ "contact-success-dialog.headline-one" | translate }}</h2>
  <p>
    {{ "contact-success-dialog.text-one" | translate }} <br />
    {{ "contact-success-dialog.text-two" | translate }} <br /><br />
    {{ "contact-success-dialog.text-three" | translate }}<br /><br />
    {{ "contact-success-dialog.greeting" | translate }} <br />
    Marco
  </p>
  <button mat-raised-button color="primary" (click)="close()">
    {{ "contact-success-dialog.button" | translate }}
  </button>
</div>
