<section id="content">
  <app-header></app-header>

  <div class="page-container">
    <div class="left-section">
      <div class="back-button">
        <img src="./assets/icons/Breadcrumb arrow 3.png" alt="" />
        <!-- <a routerLink="/" fragment="my-craft-section">Go Back</a> -->
        <a (click)="goBack()" style="cursor: pointer">{{
          "join.button-back" | translate
        }}</a>
      </div>

      <div>
        <h1>Join</h1>
        <img
          class="underline-image"
          src="./assets/icons/underline3.png"
          alt=""
        />
      </div>

      <div class="text-section">
        <h2>{{ "join.headline-one" | translate }}</h2>
        <p>
          {{ "join.text-one" | translate }}
        </p>
      </div>

      <div class="text-section">
        <h2>{{ "join.headline-two" | translate }}</h2>
        <p>
          {{ "join.text-two" | translate }}
        </p>
        <br />
        <p>
          <b>{{ "join.info" | translate }}</b> {{ "join.time" | translate }}
        </p>
      </div>

      <div class="icons">
        <img src="./assets/icons/CSS.png" alt="" />
        <p>CSS</p>
        <img src="./assets/icons/HTML.png" alt="" />
        <p>HTML</p>
        <img src="./assets/icons/Firebase.png" alt="" />
        <p>Firebase</p>
        <img src="./assets/icons/Angular.png" alt="" />
        <p>Angular</p>
        <img src="./assets/icons/TypeScript.png" alt="" />
        <p>TypeScript</p>
      </div>
    </div>

    <div class="right-section">
      <div class="project-sample">
        <img class="project-image" src="./assets/img/join.jpg" alt="" />
        <img
          class="sticker-image"
          src="./assets/img/featured_sticker.png"
          alt=""
        />
      </div>

      <div class="project-buttons">
        <button class="right-section-button">GitHub</button>
        <button class="right-section-button">Live Test</button>
      </div>

      <div class="next-button">
        <a (click)="goToNextProject()" style="cursor: pointer">{{
          "join.button-next" | translate
        }}</a>
        <img src="./assets/icons/Next project arrow 3.png" alt="" />
      </div>
    </div>
  </div>
</section>
