@import "./../../../styles.scss";

#about-section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  font-family: "Bricolage Grotesque", sans-serif;
  gap: var(--spacing-lg);
}

.about-me-container {
  max-width: 800px;
  text-align: start;
  padding: var(--spacing-lg);
  flex: 1;
}

.subtitle {
  font-size: var(--font-size-base);
  font-weight: 300;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: #666;
}

.main-title {
  margin: 0 0 1rem 0;

  h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: bold;
    color: #333;
  }

  img {
    width: clamp(200px, 50vw, 300px);
    animation: pulseUnderline 4s ease-in-out infinite;
  }
}

@keyframes pulseUnderline {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  25% {
    clip-path: inset(0% 0 0 0);
  }
  75% {
    clip-path: inset(0% 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.description {
  max-width: 700px;
  font-size: var(--font-size-base);
  line-height: 1.4;
  text-align: left;
  margin: 0;
  color: #444;
  margin-bottom: 1rem;
}

.lets-talk-button {
  width: clamp(140px, 25vw, 160px);
  height: 40px;
  padding: 12px 24px;
  border: 1px solid black;
  box-shadow: 3px 4px 0px black;
  background: transparent;
  color: black;
  border-radius: 24px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: clamp(14px, 2.5vw, 16px);
  cursor: pointer;
  @include flex-center;
  margin-left: auto;
  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:hover {
    box-shadow: 0.5px 0.5px 0px white;
    transform: translate(2.5px, 3.5px);
    color: white;
    background-color: var(--primary-color);
  }
}

.snippet-container {
  width: clamp(300px, 80vw, 600px);
  min-height: clamp(300px, 50vw, 600px);
  @include flex-center;
  flex-shrink: 0;
  flex: 1;
  z-index: 1;
}

.snippets-group {
  position: relative;
  width: 100%;
  max-width: 600px; // Definiert die Gruppengröße
  min-height: 400px;
}

.snippet1 {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 3;
  transform: rotate(-3deg);

  > img:first-child {
    width: 100%;
    max-width: 600px;
  }

  .snippet-text1 {
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    width: max-content;
    color: white;
    font-size: var(--font-size-lg);
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.snippet2 {
  position: absolute;
  top: 37%;
  left: 0;
  z-index: 2;

  > img:first-child {
    width: 100%;
    max-width: 600px;
  }

  .snippet-text2 {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 450px;
    display: flex;
    align-items: center;
    color: white;
    font-size: var(--font-size-lg);
    gap: 1rem;
  }
}

.snippet3 {
  position: absolute;
  top: 69%;
  left: 3%;
  z-index: 1;
  transform: rotate(3deg);

  > img:first-child {
    width: 100%;
    max-width: 600px;
  }

  .snippet-text3 {
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 400px;
    color: white;
    font-size: var(--font-size-lg);
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.snippet-icon {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
  flex-shrink: 0;
}

.snippet-icon-2 {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
  filter: invert(100%);
}

// ===================
// RESPONSIVE STYLES
// ===================

@media (max-width: 1300px) {
  .snippet1 {
    top: 15%;
  }
  .snippet2 {
    top: 38%;
  }
  .snippet3 {
    top: 65%;
  }
}

@media (max-width: 1150px) {
  .snippet1 .snippet-text1,
  .snippet2 .snippet-text2,
  .snippet3 .snippet-text3 {
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    max-width: 300px;
  }

  .snippet-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}

@media (max-width: 1000px) {
  .snippet1 {
    top: 19%;
  }
  .snippet2 {
    top: 38%;
  }
  .snippet3 {
    top: 60%;
  }
}

@media (max-width: 950px) {
  #about-section {
    gap: 0;
  }
  .about-me-container {
    padding: 0.5rem;
  }
  .snippet2 .snippet-text2 {
    top: 30%;
  }
}

@media (max-width: 768px) {
  #about-section {
    flex-direction: column-reverse;
  }

  .about-me-container {
    max-width: 100%;
    padding: 1rem;
  }

  .description {
    max-width: 100%;
    text-align: left;
    line-height: 1.5;
  }

  .snippet-container {
    margin: 20px auto;
    order: -1;
  }

  .snippet1 {
    top: 5%;

    .snippet-text1 {
      top: 30%;
      font-size: 1.1rem;
      max-width: 350px;
    }
  }
  .snippet2 {
    top: 30%;

    .snippet-text2 {
      top: 40%;
      font-size: 1.1rem;
      max-width: 350px;
    }
  }
  .snippet3 {
    top: 60%;

    .snippet-text3 {
      font-size: 1.1rem;
      max-width: 350px;
    }
  }
}

@media (max-width: 600px) {
  .snippet1 {
    top: 12%;
  }
  .snippet2 {
    top: 30%;
  }
  .snippet3 {
    top: 50%;
  }
}

@media (max-width: 480px) {
  .about-me-container {
    padding: 0.5rem;
  }

  .snippets-group {
    min-height: 300px;
  }

  .snippet1 .snippet-text1 {
    top: 19%;
    font-size: 0.9rem;
  }
  .snippet2 .snippet-text2 {
    top: 36%;
    font-size: 0.9rem;
  }
  .snippet3 .snippet-text3 {
    top: 40%;
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .snippet1 {
    top: 10%;
  }

  .snippet2 .snippet-text2 {
    top: 24%;
    max-width: 200px;
  }

  .snippet3 {
    top: 52%;
  }
}

@media (max-width: 330px) {
  .snippet-container {
    width: 90vw;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .snippet1 {
    top: 12%;

    .snippet-text1 {
      top: 19%;
      font-size: 0.8rem;
    }
  }

  .snippet2 {
    top: 30%;

    .snippet-text2 {
      top: 30%;
      font-size: 0.8rem;
      max-width: 300px;
      gap: 4px;
    }
  }

  .snippet3 {
    top: 50%;

    .snippet-text3 {
      top: 40%;
      font-size: 0.8rem;
    }
  }

  .snippet-icon {
    width: 24px;
    height: 24px;
  }
}
