<section id="about-section">
<div class="page-container">
  <div class="snippet-container">
    <div class="snippet1">
      <img src="./../../../assets/icons/snippet1.png" alt="" /><span
        class="snippet-text1"
        > <img src="./../../../assets/icons/State_Location.png" alt="" class="snippet-icon">Based in Düsseldorf</span
      >
    </div>
    <div class="snippet2">
      <img src="./../../../assets/icons/snippet3.png" alt="" /><span
        class="snippet-text2"
        ><img src="./../../../assets/icons/State_Relocation.png" alt="" class="snippet-icon">Open to relocate</span
      >
    </div>
    <div class="snippet3">
      <img src="./../../../assets/icons/snippet2.png" alt="" /><span
        class="snippet-text3"
        ><img src="./../../../assets/icons/Status_Remote.png" alt="" class="snippet-icon">Open to work remote</span
      >
    </div>
  </div>

  <div class="about-me-container">
    <p class="subtitle">Who's Marco?</p>
    <div class="main-title">
      <h1 class="">About me</h1>
      <img src="./../../../assets/icons/underline1.png" alt="" />
    </div>

    <p class="description">
      Hi! I'm Marco and I love modern frontend technologies - that's why I'm becoming a Junior Web Developer. As a programming newcomer, I'm particularly excited about turning creative ideas into applications. I'm constantly learning through new projects. My focus is on JavaScript and Angular, as well as automation and AI. As a developer, I want to create solutions that help people move forward.
    </p>
    <button class="lets-talk-button">Let's talk</button>
  </div>
</div>
</section>
<div>{{ 'about-me-section.hello' | translate }}</div>
<div>{{ 'about-me-section.title' | translate }}</div>