@import "./../../../styles.scss";

.about-section {
  display: flex;
  font-family: "Bricolage Grotesque", sans-serif;
}
.about-me-container {
  text-align: start;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #666;
  margin: 0 0 1rem 0;
  font-weight: 300;
}

.main-title {
  margin: 0 0 1rem 0;
  h1 {
    font-size: 3rem;
    font-weight: bold;

    color: #333;
  }
  img {
    width: 300px;
    animation: pulseUnderline 4s ease-in-out infinite;
  }
}

@keyframes pulseUnderline {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  25% {
    clip-path: inset(0% 0 0 0);
  }
  75% {
    clip-path: inset(0% 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  margin: 0;
  color: #444;
  max-width: 700px;
  margin: 0;
  margin-bottom: 1rem;
}

.lets-talk-button {
  width: 150px;
  height: 50px;
  padding: 12px 24px;
  border: 1px solid black;
  box-shadow: 0px 5px 0px black;
  background: transparent;
  color: black;
  border-radius: 24px;
  font-size: 16px;
  cursor: pointer;

  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:hover {
    box-shadow: none;
    transform: translateY(5px);
    color: white;
    background-color: #1073ea;
  }
}

.snippet-container {
  position: relative; // Bezugspunkt für die Snippet-Divs
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  z-index: 1;
  width: 600px;
  height: 600px;

  > div > img:first-child {
    width: 600px;
  }
}

.snippet1 {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 3;
  transform: rotate(-3deg);
}
.snippet2 {
  position: absolute;
  top: 120px;
  left: 25px;
  z-index: 2;
}
.snippet3 {
  position: absolute;
  top: 220px;
  left: 30px;
  z-index: 1;
  transform: rotate(6deg);
}

.snippet-text1 {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.snippet-text2 {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.snippet-text3 {
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.snippet-icon {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
}
