<div class="snippet-container">
    <img src="./../../../assets/icons/snippet1.png" alt="">
    <img src="./../../../assets/icons/snippet2.png" alt="">
    <img src="./../../../assets/icons/snippet3.png" alt="">
</div>

<div class="about-me-container">
  <p class="subtitle">Who's Marco</p>
  <div class="main-title">
    <h1 class="">About me</h1>
    <img src="./../../../assets/icons/underline1.png" alt="" />
  </div>

  <p class="description">
    Hey there, I'm Marco. Ich bin angehender Junior Webentwickler mit einer
    großen Leidenschaft für moderne Frontend-Technologien. Auch wenn ich erst
    kürzlich mit dem Programmieren begonnen habe, hat mich die Faszination für
    die IT-Welt schnell gepackt – besonders die Möglichkeit, kreative Ideen in
    funktionierende Anwendungen umzusetzen. Meine Motivation ziehe ich aus dem
    stetigen Lernprozess: Jedes neue Projekt, jedes gelöste Problem und jede
    Zeile Code bringt mich einen Schritt weiter. Aktuell vertiefe ich mein
    Wissen vor allem in JavaScript und Angular, beschäftige mich aber auch mit
    Themen wie Automatisierung und KI-Integration. Mein Ziel ist es, als
    Entwickler nicht nur mit Technik zu arbeiten, sondern mit meinen Lösungen
    echten Mehrwert zu schaffen.
  </p>
  <button class="lets-talk-button">Let's talk</button>
</div>
