@import "./../../../../styles.scss";

.container {
  width: 600px;
  font-family: "Bricolage Grotesque", sans-serif;
  color: white;
}

form {
  display: flex;
  flex-direction: column;

  label {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    color: white;
    border-top: 1px solid transparent;
    border-bottom: 1px solid yellow;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    gap: 16px;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      color: orange;
      border-top: 1px solid blue;
      border-bottom: 1px solid blue;
      z-index: 2;
    }
  }

  input,
  textarea {
    background: transparent;
    border: none;
    color: white;
    width: 100%;
    outline: none; // Wozu dies???
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 16px;

    &::placeholder {
      color: white;
    }

    &:focus {
      border-color: greenyellow; // Funktioniert nicht!?
    }
  }

  label.privacy-label {
    height: auto;
    flex-direction: row;
    align-items: center;
    border: none;
    margin-top: 20px;
    gap: 8px;
    font-size: 16px;

    &:hover {
      color: white;

      a {
        color: orange;
      }
    }

    a {
      color: #24dd80;
      text-decoration: none;
      font-family: inherit;
      font-size: inherit;
    }

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      appearance: none; // Entfernt Standard-Browser-Styles
      border: 2px solid #24dd80;
      border-radius: 4px;
      background: transparent;
      cursor: pointer;
      position: relative;

      &:checked {
        // Häkchen-Symbol
        &::after {
          // content: "✓";
          content: "";
          position: absolute;
          top: 50%;
          left: 65%;
          transform: translate(-50%, -50%);
          // color: orange;
          // font-size: 14px;
          // font-weight: bold;
          width: 18px;
          height: 18px;
          background-image: url("./../../../../assets/icons/check.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &:hover {
        background-color: #24dd815f;
      }
    }
  }
}

.submit-button {
  width: 150px;
  height: 50px;
  padding: 12px 24px;
  border: 1px solid white;
  box-shadow: 3px 4px 0px white;
  background: transparent;

  border-radius: 24px;
  font-size: 16px;
  cursor: pointer;

  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:hover {
    box-shadow: 0.5px 0.5px 0px white;
    transform: translate(2.5px, 3.5px);
    color: white;
    background-color: #1073ea;
  }
}
