<div class="container">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <label for="name">Name</label>
    <input
      [(ngModel)]="contactData.name"
      type="text"
      id="name"
      name="name"
      placeholder="Your name"
      required
    />

    <label for="email">Email</label>
    <input
      [(ngModel)]="contactData.email"
      type="email"
      id="email"
      name="email"
      placeholder="Your mail adress"
      required
      pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
    />

    <label for="message">Subject</label>
    <textarea
      #message="ngModel"
      minlength="4"
      [(ngModel)]="contactData.message"
      id="message"
      name="message"
      placeholder="Write something"
      required
    ></textarea>

    @if (!message.valid && message.touched) {
    <span>Please enter a message</span>
    }

    <input type="submit" value="Submit" />
  </form>
</div>
