<div class="container">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <label for="name" [class.error-label]="!name.valid && name.touched"
      >{{ "contactform.name" | translate }}
      <input
        #name="ngModel"
        [(ngModel)]="contactData.name"
        type="text"
        id="name"
        name="name"
        [placeholder]="
          !name.valid && name.touched
            ? ('contactform.name-error' | translate)
            : ('contactform.name-default' | translate)
        "
        [class.error-placeholder]="!name.valid && name.touched"
        [class.error-border]="!name.valid && name.touched"
        required
      />
    </label>

    <label for="email" [class.error-label]="!email.valid && email.touched"
      >{{ "contactform.mail" | translate }}
      <input
        #email="ngModel"
        [(ngModel)]="contactData.email"
        type="email"
        id="email"
        name="email"
        [placeholder]="
          !email.valid && email.touched
            ? ('contactform.mail-error' | translate)
            : ('contactform.mail-default' | translate)
        "
        [class.error-placeholder]="!email.valid && email.touched"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      />
    </label>

    <label for="message" [class.error-label]="!message.valid && message.touched"
      >{{ "contactform.text" | translate }}
      <textarea
        #message="ngModel"
        minlength="4"
        [(ngModel)]="contactData.message"
        id="message"
        name="message"
        [placeholder]="
          !message.valid && message.touched
            ? ('contactform.text-error' | translate)
            : ('contactform.text-default' | translate)
        "
        [class.error-placeholder]="!message.valid && message.touched"
        required
      ></textarea>
    </label>

    <!-- <label for="privacy" class="privacy-label">
      <input
        [(ngModel)]="contactData.privacyAccepted"
        type="checkbox"
        id="privacy"
        name="privacy"
        required
      />
      <span
        >I've read the <a href="">privacy policy</a> and agree to the processing
        of my data as outlined.</span
      >
    </label> -->

    <div class="privacy-label">
      <input
        [(ngModel)]="contactData.privacyAccepted"
        type="checkbox"
        id="privacy"
        name="privacy"
        required
        #privacy="ngModel"
      />
      <span
        >{{ "contactform.privacy-text-one" | translate }}
        <a href="">{{ "contactform.privacy-policy" | translate }}</a>
        {{ "contactform.privacy-text-two" | translate }}</span
      >
    </div>

    @if (!contactData.privacyAccepted && privacy.touched){
    <span class="error-message">{{
      "contactform.privacy-error" | translate
    }}</span>
    }

    <!-- <button class="submit-button" [disabled]="!contactData.privacyAccepted">
      <input type="submit" value="Submit" />
    </button> -->

    <button
      class="submit-button"
      type="submit"
      [disabled]="!contactData.privacyAccepted"
    >
      {{ "contactform.button" | translate }}
    </button>
  </form>
</div>
