<div class="privacy-container">
  <app-header *ngIf="!isMobileMenuOpen"></app-header>

  <app-mobile-header (toggleMenu)="toggleMobileMenu()"></app-mobile-header>

  <div class="mobile-menu-dialog" [class.mobile-menu-open]="isMobileMenuOpen">
    <app-header (closeMenu)="isMobileMenuOpen = false"></app-header>
  </div>

  <div class="main-content">
    <div class="content-card">
      <h1>{{ "privacy-policy.headline-1" | translate }}</h1>
      <h2>{{ "privacy-policy.headline-2" | translate }}</h2>
      <h3>{{ "privacy-policy.headline-3" | translate }}</h3>
      <p>
        {{ "privacy-policy.text-1" | translate }}
      </p>
      <h3>{{ "privacy-policy.headline-4" | translate }}</h3>
      <h4>
        {{ "privacy-policy.headline-5" | translate }}
      </h4>
      <p>
        {{ "privacy-policy.text-2" | translate }}
      </p>
      <h4>
        {{ "privacy-policy.headline-6" | translate }}
      </h4>
      <p>
        {{ "privacy-policy.text-3a" | translate }}
        <br /><br />
        {{ "privacy-policy.text-3b" | translate }}
      </p>
      <h4>
        {{ "privacy-policy.headline-7" | translate }}
      </h4>
      <p>
        {{ "privacy-policy.text-4" | translate }}
      </p>
      <h4>
        {{ "privacy-policy.headline-8" | translate }}
      </h4>
      <p>
        {{ "privacy-policy.text-5a" | translate }}
        <br /><br />
        {{ "privacy-policy.text-5b" | translate }}
      </p>
      <h2>{{ "privacy-policy.headline-9" | translate }}</h2>
      <p>
        {{ "privacy-policy.text-6" | translate }}
      </p>
      <h3>{{ "privacy-policy.headline-10" | translate }}</h3>
      <p>
        {{ "privacy-policy.text-7a" | translate }}
        <br /><br />
        {{ "privacy-policy.text-7b" | translate }}
        <br /><br />
        {{ "privacy-policy.text-7c" | translate }}
        <br /><br />
        {{ "privacy-policy.text-7d" | translate }}
        <br /><br />
        {{ "privacy-policy.text-7e" | translate }}
      </p>
      <h2>
        {{ "privacy-policy.headline-11" | translate }}
      </h2>
      <h3>{{ "privacy-policy.headline-12" | translate }}</h3>
      <p>
        {{ "privacy-policy.text-8a" | translate }}
        <br /><br />
        {{ "privacy-policy.text-8b" | translate }}
        <br /><br />
        {{ "privacy-policy.text-8c" | translate }}
      </p>
      <h3>
        {{ "privacy-policy.headline-13" | translate }}
      </h3>
      <p>
        {{ "privacy-policy.text-9a" | translate }}
        <br /><br />
        Marc-Antonio Palummieri<br />
        Volmerswerther Stra&szlig;e 441<br />
        40221 D&uuml;sseldorf
        <br /><br />
        {{ "privacy-policy.text-9b" | translate }}
        015779751134<br />
        E-Mail:
        <a href="mailto:marco.palummieri&#64;gmail.com"
          >marco.palummieri&#64;gmail.com</a
        >
        <br /><br />
        {{ "privacy-policy.text-9c" | translate }}
      </p>
      <h3>{{ "privacy-policy.headline-14" | translate }}</h3>
      <p>{{ "privacy-policy.text-10" | translate }}</p>
      <h3>
        {{ "privacy-policy.headline-15" | translate }}
      </h3>
      <p>{{ "privacy-policy.text-11" | translate }}</p>
      <h3>
        {{ "privacy-policy.headline-16" | translate }}
      </h3>
      <p>{{ "privacy-policy.text-12" | translate }}</p>
      <h3>
        {{ "privacy-policy.headline-17" | translate }}
      </h3>
      <p>{{ "privacy-policy.text-13" | translate }}</p>
      <h3>
        {{ "privacy-policy.headline-18" | translate }}
      </h3>
      <p>
        {{ "privacy-policy.text-14a" | translate }}
        <br /><br />
        {{ "privacy-policy.text-14b" | translate }}
      </p>
      <h3>
        {{ "privacy-policy.headline-19" | translate }}
      </h3>
      <p>{{ "privacy-policy.text-15" | translate }}</p>
      <h3>
        {{ "privacy-policy.headline-20" | translate }}
      </h3>
      <p>{{ "privacy-policy.text-16" | translate }}</p>
      <h3>
        {{ "privacy-policy.headline-21" | translate }}
      </h3>
      <p>{{ "privacy-policy.text-17" | translate }}</p>
      <h3>
        {{ "privacy-policy.headline-22" | translate }}
      </h3>
      <p>{{ "privacy-policy.text-18" | translate }}</p>
      <ul>
        <li>{{ "privacy-policy.list-1" | translate }}</li>
        <li>{{ "privacy-policy.list-2" | translate }}</li>
        <li>{{ "privacy-policy.list-3" | translate }}</li>
        <li>{{ "privacy-policy.list-4" | translate }}</li>
      </ul>
      <p>
        {{ "privacy-policy.text-19a" | translate }}
        <br /><br />
        {{ "privacy-policy.text-19b" | translate
        }}<a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
      </p>
      <div class="back-button-container">
        <button class="back-button" (click)="goBack()">
          <span class="arrow">←</span>{{ "privacy-policy.button" | translate }}
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
