<h1>Impressum</h1>

<p>
  Marc-Antonio Palummieri<br />
  Volmerswerther Stra&szlig;e 441<br />
  40221 D&uuml;sseldorf
</p>

<h2>Kontakt</h2>
<p>
  Telefon: 015779751134<br />
  E-Mail:
  <a href="mailto:marco.palummieri&#64;gmail.com"
    >marco.palummieri&#64;gmail.com</a
  >
</p>

<p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>

<div class="back-button-container">
  <button class="back-button" (click)="goBack()">
    <span class="arrow">←</span>
    Zurück
  </button>
</div>