<div class="imprint-container">
  <app-header *ngIf="!isMobileMenuOpen"></app-header>

  <app-mobile-header (toggleMenu)="toggleMobileMenu()"></app-mobile-header>

  <app-mobile-navbar
    *ngIf="isMobileMenuOpen"
    (closeMenu)="isMobileMenuOpen = false"
  ></app-mobile-navbar>

  <div class="main-content">
    <div class="content-card">
      <h1 id="impressum-heading">{{ "imprint.headline-one" | translate }}</h1>
      <div
        class="itrk-legaltext"
        data-itrk-legaltext-url="https://itrk.legal/1ypt.0.17ys-de-iframe.html"
      ></div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
