.join-project,
.pollo-loco-project,
.da-bubble-project,
.pokedex-project,
.wp-project {
  flex: 1;
}

.join-project {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  position: relative;

  p {
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    text-wrap: balance;
  }
}

.pollo-loco-project,
.da-bubble-project,
.pokedex-project,
.wp-project {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 600px;

  p {
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    text-wrap: balance;
  }
}

.details-button,
.desktop-button,
.mobile-button {
  font-family: "Bricolage Grotesque", sans-serif;
}

.laptop-container {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 22px;

  &:hover {
    .default-image {
      opacity: 0;
      animation-play-state: paused;
    }
    .hover-image {
      opacity: 1;
      transform: scale(1.2);
    }
    .details-button {
      opacity: 1;
    }
  }
}

.default-image {
  width: 100%;
  height: auto;
  animation: float 3s ease-in-out infinite;
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0.1) 45%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: scale(1);
  transform-origin: right top;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.details-button {
  position: absolute;
  bottom: 40px;
  right: 20px;
  width: clamp(110px, 30vw, 160px);
  height: clamp(32px, 6vw, 40px);
  opacity: 0;
  z-index: 10;
  padding: clamp(8px, 2vw, 12px) clamp(16px, 5vw, 24px);
  border: 1px solid white;
  box-shadow: 3px 4px 0px white;
  background: transparent;
  border-radius: 24px;
  font-size: clamp(13px, 2vw, 16px);
  @include flex-center;

  cursor: pointer;
  transition: opacity 0.3s ease, box-shadow 0.2s ease, transform 0.2s ease;

  &:hover {
    box-shadow: 0.5px 0.5px 0px white;
    transform: translate(2.5px, 3.5px);
    background-color: #1aa8b4;
  }
}

.details-button a,
a.details-button {
  text-decoration: none;
  // text-transform: uppercase;
  color: white;
}

.mobile-button {
  display: none;
}

.project-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 22px;
  overflow: hidden; // Verhindert das Herausragen beim Zoom

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.3) 30%,
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.1) 45%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  &:hover {
    .details-button {
      opacity: 1;
    }
    img {
      transform: scale(1.1);
    }

    &::after {
      opacity: 1;
    }
  }
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: transform 0.3s ease;
}

.athlon-project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

// ===================
// RESPONSIVE STYLES
// ===================

@media (max-width: 576px) {
  .join-project,
  .pollo-loco-project,
  .da-bubble-project,
  .pokedex-project,
  .wp-project {
    max-width: 100%;
  }

  .default-image {
    animation: none;
  }

  .laptop-container {
    .hover-image {
      display: none;
    }

    &:hover {
      .default-image {
        opacity: 1;
        animation-play-state: running;
      }
      .details-button {
        opacity: 0;
      }
    }
  }

  .project-image {
    &:hover {
      img {
        transform: scale(1);
      }

      &::after {
        opacity: 0;
      }

      .details-button {
        opacity: 0;
      }
    }
  }

  .desktop-button {
    display: none;
  }

  .mobile-button {
    display: block;
    position: static;
    width: 34%;
    opacity: 1;
    margin-top: 15px;
    margin-left: auto;
    border: 1px solid black;
    background-color: transparent;
    box-shadow: 2px 2px 0px black;
    @include flex-center;

    a {
      color: black;
    }

    &:hover {
      box-shadow: 2px 2px 0px black;
      transform: none;
      background-color: transparent;
    }
  }

  .mobile-button a,
  a.mobile-button {
    color: black;
  }
}

@media (max-width: 430px) {
  .join-project,
  .pollo-loco-project,
  .da-bubble-project,
  .pokedex-project,
  .wp-project {
    margin-bottom: 24px;
  }

  .mobile-button {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-right: auto;
    margin-left: auto;
    transform: none;
    @include flex-center;
  }
}
