<div class="my-craft-section">
  <div class="section1">
    <div class="headline-container">
      <p class="subtitle">My Craft</p>
      <div class="main-title">
        <h1 class="">Projects</h1>
        <div>
          <img src="./../../../assets/icons/underline2.png" alt="" />
        </div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          vel fuga eos earum vitae perspiciatis repellat neque obcaecati
          explicabo. At dicta aut nemo dolorum vel autem veritatis voluptas
          officia temporibus.
        </p>
      </div>
    </div>

    <div class="join-project">
      <h1>Join</h1>
      <div class="image-container">
        <img src="./../../../assets/img/Laptop_Movement.png" alt="" />
        <img src="./../../../assets/img/Laptop_Default.png" alt="" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit cumque
        similique dolore nisi facere minima esse id totam placeat, voluptates
        odit nobis ab asperiores pariatur veritatis, tenetur ipsum praesentium
        delectus!
      </p>
    </div>
  </div>

  <div class="section2">
    <div class="pollo-loco-project">
      <h1>El Pollo Loco</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit cumque
        similique dolore nisi facere minima esse id totam placeat, voluptates
        odit nobis ab asperiores pariatur veritatis, tenetur ipsum praesentium
        delectus!
      </p>
    </div>

    <div class="da-bubble-project">
      <h1>DABubble</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit cumque
        similique dolore nisi facere minima esse id totam placeat, voluptates
        odit nobis ab asperiores pariatur veritatis, tenetur ipsum praesentium
        delectus!
      </p>
    </div>
  </div>
</div>
