@import "./../../../styles.scss";

.my-craft-section {
  min-height: 100vh;
  height: 100vh; // Wichtig: Explizite Höhe
  display: flex;
  flex-direction: column;
  font-family: "Bricolage Grotesque", sans-serif;
}

.section1 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subtitle {
  font-size: 1.3rem;
  color: black;
  font-weight: 300;
  text-transform: uppercase;
}

.main-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1 {
    margin-bottom: 10px;
  }

  div {
    margin-bottom: 15px;
  }

  img {
    width: 150px;
  }

  p {
    margin-top: 0;
  }
}

.join-project {
  display: flex;
  flex-direction: column;

  .image-container {
    display: inline-block; // Container immer so groß wie Inhalt
    width: fit-content; // Container passt sich der Breite des inhalts an
    position: relative; // Wichtig für absolut positionierte Kinder

    img:first-of-type {
      width: 500px;
      animation: float 3s ease-in-out infinite;
      display: block;
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    img:last-of-type {
      width: 500px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.3) 30%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0) 100%
      );
      border-radius: 12px;
      transform: scale(1);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &:hover {
      img:first-of-type {
        opacity: 0;
        animation-play-state: paused;
      }

      img:last-of-type {
        opacity: 1;
        transform: scale(1.05);
      }
    }
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.section2 {
  display: flex;
}

.my-projects {
  display: flex;
  flex-direction: column;
}
