@import "./../../../styles.scss";

h1 {
  font-size: 64px;
}

h2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

#my-craft-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Bricolage Grotesque", sans-serif;
  gap: 3rem;
}

.section1,
.section2 {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.headline-container,
.join-project,
.pollo-loco-project,
.da-bubble-project {
  flex: 1;
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
  max-width: 600px;
}

.main-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  span {
    font-size: 1.3rem;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
  }

  div {
    margin-bottom: 15px;
    width: 100%;
  }

  img {
    width: 280px;
    height: 20px;
    animation: pulseUnderline 3s ease-in-out infinite 3s;
  }
}

@keyframes pulseUnderline {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  25% {
    clip-path: inset(0% 0 0 0);
  }
  75% {
    clip-path: inset(0% 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.join-project {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  position: relative;
}

.sticker-container {
  position: absolute;
  top: 200px;
  left: 0;
  width: 30%;
  z-index: 10;

  .sticker-image {
    width: 100%;
    height: auto;
    opacity: 1;
    pointer-events: none;
  }

  .arrow-image {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(150deg);
    width: 40%;
    height: auto;
    z-index: 5;
    opacity: 0.7;
  }

  .text1,
  .text2 {
    position: absolute;
    width: 200px;
    height: auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Kalam", sans-serif;
    font-size: 24px;
    line-height: 1.1;
    text-align: center;
    color: white;
    z-index: 4;
    transition: opacity 0.3s ease;
  }

  .text2 {
    top: 75%;
    font-size: 24px;
  }
}

.laptop-container {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 22px;

  &:hover {
    .default-image {
      opacity: 0;
      animation-play-state: paused;
    }
    .hover-image {
      opacity: 1;
      transform: scale(1.2);
    }
    .details-button {
      opacity: 1;
    }
  }
}

.default-image {
  width: 100%;
  height: auto;
  animation: float 3s ease-in-out infinite;
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0.1) 45%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: scale(1);
  transform-origin: right top;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.details-button {
  position: absolute;
  bottom: 40px;
  right: 20px;
  opacity: 0;
  z-index: 10;
  width: 200px;
  height: 40px;
  padding: 12px 24px;
  border: 1px solid white;
  box-shadow: 0px 5px 0px white;
  background: transparent;
  color: white;
  border-radius: 24px;
  font-size: 16px;
  cursor: pointer;

  transition: opacity 0.3s ease, box-shadow 0.2s ease, transform 0.2s ease;

  &:hover {
    box-shadow: none;
    transform: translateY(5px);
    color: white;
    background-color: #1aa8b4;
  }
}

.pollo-loco-project,
.da-bubble-project {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  position: relative;
}

.project-image {
  width: 100%;
  aspect-ratio: 4/3;
  // height: 400px;
  border-radius: 22px;
  overflow: hidden; // Verhindert das Herausragen beim Zoom
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; // Sanfte Animation
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.3) 30%,
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.1) 45%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  //NOTE:
  &:hover {
    .details-button {
      opacity: 1;
    }
    img {
      transform: scale(1.1);
    }

    &::after {
      opacity: 1;
    }
  }
}
