@import "./../../../styles.scss";
@import "./headline";
@import "./project";
@import "./sticker";

#my-craft-section {
  min-height: 600px;
  font-family: "Bricolage Grotesque", sans-serif;
}

#my-craft-section .page-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section1,
.section2 {
  width: 100%;
  height: 600px;
  @include flex-start;
  gap: 5rem;
}

// ===================
// RESPONSIVE STYLES
// ===================

@media (max-width: 768px) {
  .section1,
  .section2 {
    gap: 2rem;
    height: auto;
  }
}

@media (max-width: 576px) {
  .section1,
  .section2 {
    flex-direction: column;
    gap: 3rem;
    height: auto;
  }
}
