<div class="headline-container">
    <p class="subtitle">My Craft</p>
    <div class="main-title">
      <h1 class="">Projects</h1>
      <img src="" alt="" />
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis vel fuga eos earum vitae perspiciatis repellat neque obcaecati explicabo. At dicta aut nemo dolorum vel autem veritatis voluptas officia temporibus.</p>
    </div>
  </div>

  <div class="my-projects"><h1>Join</h1><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit cumque similique dolore nisi facere minima esse id totam placeat, voluptates odit nobis ab asperiores pariatur veritatis, tenetur ipsum praesentium delectus!</p></div>
  
  <div class="my-projects"><h1>El Pollo Loco</h1><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit cumque similique dolore nisi facere minima esse id totam placeat, voluptates odit nobis ab asperiores pariatur veritatis, tenetur ipsum praesentium delectus!</p></div>

  <div class="my-projects"><h1>DABubble</h1><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit cumque similique dolore nisi facere minima esse id totam placeat, voluptates odit nobis ab asperiores pariatur veritatis, tenetur ipsum praesentium delectus!</p></div>
