<section id="content">
  <app-header></app-header>

  <div class="page-container">
    <div class="left-section">
      <div class="back-button">
        <img src="./../../../assets/icons/Breadcrumb arrow 3.png" alt="" />
        <!-- <a routerLink="/" fragment="my-craft-section">Go Back</a> -->
        <a (click)="goBack()" style="cursor: pointer">{{
          "da-bubble.button-back" | translate
        }}</a>
      </div>

      <div>
        <h1>DABubble</h1>
        <img
          class="underline-image"
          src="./../../../assets/icons/underline3.png"
          alt=""
        />
      </div>

      <div class="text-section">
        <h2>{{ "da-bubble.headline-one" | translate }}</h2>
        <p>
          {{ "da-bubble.text-one" | translate }}
        </p>
      </div>

      <div class="text-section">
        <h2>{{ "da-bubble.headline-two" | translate }}</h2>
        <p>
          {{ "da-bubble.text-two" | translate }}
        </p>
        <br />
        <p><b>{{ "da-bubble.info" | translate }}</b> {{ "da-bubble.time" | translate }}</p>
      </div>

      <div class="icons">
        <img src="./../../../assets/icons/JavaScript.png" alt="" />
        <p>JavaScript</p>
        <img src="./../../../assets/icons/HTML.png" alt="" />
        <p>HTML</p>
        <img src="./../../../assets/icons/CSS.png" alt="" />
        <p>CSS</p>
      </div>
    </div>

    <div class="right-section">
      <div class="project-sample">
        <img
          class="project-image"
          src="./../../../assets/img/DABubble1.png"
          alt=""
        />
        <img
          class="sticker-image"
          src="./../../../assets/icons/round_sticker.png"
          alt=""
        />
      </div>

      <div class="project-buttons">
        <button class="right-section-button">GitHub</button>
        <button class="right-section-button">Live Test</button>
      </div>

      <div class="next-button">
        <a (click)="goToNextProject()" style="cursor: pointer">{{
          "da-bubble.button-next" | translate
        }}</a>
        <img src="./../../../assets/icons/Next project arrow 3.png" alt="" />
      </div>
    </div>
  </div>
</section>
