<section id="contact-section">
  <div class="page-container">
    <div class="content-area">
      <div class="left-section">
        <div class="headline-container">
          <span>contact me</span>
          <h1>Ready to work together</h1>
        </div>

        <div class="text-container">
          <p>
            I'm always open to new projects, ideas, and exciting challenges –
            especially when it comes to coding and finding creative solutions.
            If you're looking for someone who's passionate, eager to learn, and
            ready to be a real asset to your team, then you've come to the right
            place. Just drop me a message – I'm looking forward to hearing from
            you and hopefully creating something awesome together!
          </p>
          <img
            class="arrow-image"
            src="./../../../assets/icons/contact_arrow.png"
            alt=""
          />
        </div>
      </div>

      <div class="right-section">
        <div class="sticker">
          <img src="./../../../assets/icons/round_sticker.png" alt="" />
        </div>
        <div class="contact-form"></div>
        <app-contactform></app-contactform>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</section>
