<div id="contact-section">
  <div class="left-section">
    <div class="headline-container">
      <span>contact me</span>
      <h1>Ready to work together</h1>
    </div>

    <div class="text-container">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam
        necessitatibus facere ducimus a tempora doloremque enim, consectetur
        molestias! Tempore nemo deserunt sunt culpa enim eaque similique
        temporibus! Consequatur, iure unde.
      </p>
      <img class="arrow-image" src="./../../../assets/icons/contact_arrow.png" alt="" />
    </div>
  </div>
</div>
