<section id="contact-section">
  <div class="page-container">
    <div class="content-area">
      <div class="left-section">
        <div class="headline-container">
          <span>{{ "contact-section.headline-one" | translate }}</span>
          <h1>{{ "contact-section.headline-two" | translate }}</h1>
        </div>

        <div class="text-container">
          <p>
            {{ "contact-section.text" | translate }}
          </p>
          <img
            class="arrow-image"
            src="./../../../assets/icons/contact_arrow.png"
            alt=""
          />
        </div>
      </div>

      <div class="right-section">
        <div class="sticker">
          <img src="./../../../assets/icons/round_sticker.png" alt="" />
        </div>
        <div class="contact-form"></div>
        <app-contactform></app-contactform>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</section>
