<div class="header-container">
  <nav>
    <img src="assets/img/LogoMarcoNeu.png" alt="" />
    <a href="#about"
      ><img src="assets/icons/1.png" alt="" /><span>About me</span></a
    >
    <a href="#skills"
      ><img src="assets/icons/2.png" alt="" /><span>Skills</span></a
    >
    <a href="#projects"
      ><img src="assets/icons/4.png" alt="" /><span>Projects</span></a
    >
    <a href="#contact"
      ><img src="assets/icons/3.png" alt="" /><span>Contact</span></a
    >
    <div>
      <img
        class="language-button"
        src="./../../../../assets/icons/English Default.png"
        alt=""
      />
      <img
        class="toggle-en"
        src="./../../../../assets/icons/Toggle.png"
        alt=""
      />
      <img
        class="toggle-button"
        src="./../../../../assets/icons/Toggle Right.png"
        alt=""
      /><img
        class="language-button"
        src="./../../../../assets/icons/Deutsch Default.png"
        alt=""
      /><img
        class="toggle-de"
        src="./../../../../assets/icons/Toggle.png"
        alt=""
      />
    </div>
  </nav>
</div>
